In [1]:
import numpy as np
import pandas as pd
from datetime import date
import random as random
import cPickle as pickle
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('PATIENT_VISIT_182.csv',sep=',')
print data.shape
data.head(10)

(17053, 4)

   subject_id  hadm_id   admittime                        icd9_code
0          17   194023  2134-12-27                          7,24,29
1          17   161087  2135-05-09            7,39,24,46,34,128,163
2          23   152223  2153-09-03               1,7,8,11,30,74,104
3          23   124321  2157-10-18               31,60,1,7,11,23,30
4          34   115799  2186-07-18            106,3,4,8,17,33,37,52
5          34   144319  2191-02-23              3,4,8,14,21,106,141
6          36   182104  2131-04-30       15,18,27,32,74,104,154,1,8
7          36   122659  2131-05-12  1,8,11,15,18,19,26,27,74,78,124
8          36   165660  2134-05-10  1,8,9,18,27,28,33,49,74,114,124
9          68   170467  2173-12-15     3,5,6,10,12,28,52,89,111,149

In [3]:
data['date']=map(lambda x:map(int,x.split('-')),data.admittime)
data['icd9']=map(lambda x:map(int,x.split(',')),data.icd9_code)
data['deltatime']=np.zeros(data.shape[0]).astype(int)
data.head(10)

,subject_id,hadm_id,admittime,icd9_code,date,icd9,deltatime
0,17,194023,2134-12-27,"7,24,29","[2134, 12, 27]","[7, 24, 29]",0
1,17,161087,2135-05-09,"7,39,24,46,34,128,163","[2135, 5, 9]","[7, 39, 24, 46, 34, 128, 163]",0
2,23,152223,2153-09-03,"1,7,8,11,30,74,104","[2153, 9, 3]","[1, 7, 8, 11, 30, 74, 104]",0
3,23,124321,2157-10-18,"31,60,1,7,11,23,30","[2157, 10, 18]","[31, 60, 1, 7, 11, 23, 30]",0
4,34,115799,2186-07-18,"106,3,4,8,17,33,37,52","[2186, 7, 18]","[106, 3, 4, 8, 17, 33, 37, 52]",0
5,34,144319,2191-02-23,"3,4,8,14,21,106,141","[2191, 2, 23]","[3, 4, 8, 14, 21, 106, 141]",0
6,36,182104,2131-04-30,"15,18,27,32,74,104,154,1,8","[2131, 4, 30]","[15, 18, 27, 32, 74, 104, 154, 1, 8]",0
7,36,122659,2131-05-12,"1,8,11,15,18,19,26,27,74,78,124","[2131, 5, 12]","[1, 8, 11, 15, 18, 19, 26, 27, 74, 78, 124]",0
8,36,165660,2134-05-10,"1,8,9,18,27,28,33,49,74,114,124","[2134, 5, 10]","[1, 8, 9, 18, 27, 28, 33, 49, 74, 114, 124]",0
9,68,170467,2173-12-15,"3,5,6,10,12,28,52,89,111,149","[2173, 12, 15]","[3, 5, 6, 10, 12, 28, 52, 89, 111, 149]",0

In [4]:
# calculate time
p = -1 # patient's subject id

for i in range(data.shape[0]):
    if data['subject_id'][i] != p: # new patient
        p = data['subject_id'][i]
    else:
        y,m,d = data['date'][i]
        y0,m0,d0 = data['date'][i-1]
        data.loc[i,'deltatime'] = (date(y,m,d)-date(y0,m0,d0)).days
        
data.head(10)

,subject_id,hadm_id,admittime,icd9_code,date,icd9,deltatime
0,17,194023,2134-12-27,"7,24,29","[2134, 12, 27]","[7, 24, 29]",0
1,17,161087,2135-05-09,"7,39,24,46,34,128,163","[2135, 5, 9]","[7, 39, 24, 46, 34, 128, 163]",133
2,23,152223,2153-09-03,"1,7,8,11,30,74,104","[2153, 9, 3]","[1, 7, 8, 11, 30, 74, 104]",0
3,23,124321,2157-10-18,"31,60,1,7,11,23,30","[2157, 10, 18]","[31, 60, 1, 7, 11, 23, 30]",1506
4,34,115799,2186-07-18,"106,3,4,8,17,33,37,52","[2186, 7, 18]","[106, 3, 4, 8, 17, 33, 37, 52]",0
5,34,144319,2191-02-23,"3,4,8,14,21,106,141","[2191, 2, 23]","[3, 4, 8, 14, 21, 106, 141]",1681
6,36,182104,2131-04-30,"15,18,27,32,74,104,154,1,8","[2131, 4, 30]","[15, 18, 27, 32, 74, 104, 154, 1, 8]",0
7,36,122659,2131-05-12,"1,8,11,15,18,19,26,27,74,78,124","[2131, 5, 12]","[1, 8, 11, 15, 18, 19, 26, 27, 74, 78, 124]",12
8,36,165660,2134-05-10,"1,8,9,18,27,28,33,49,74,114,124","[2134, 5, 10]","[1, 8, 9, 18, 27, 28, 33, 49, 74, 114, 124]",1094
9,68,170467,2173-12-15,"3,5,6,10,12,28,52,89,111,149","[2173, 12, 15]","[3, 5, 6, 10, 12, 28, 52, 89, 111, 149]",0

In [5]:
visit_file = [] # icd9 code
patient_id = [] # patient id
admission_id = [] # admission id 
duration = [] # duration

p_id = -1 # patient's subject id

for i in range(data.shape[0]):
    # new patient
    if data['subject_id'][i] != p_id:
        # for previous patient, add visits to visit_file
        if p_id != -1:
            visit_file.append(visits)
            admission_id.append(ad_id)
            duration.append(t)
            
        p_id = data['subject_id'][i]
        patient_id.append(p_id)
        
        visits = [map(lambda x:x-1,data['icd9'][i])]
        ad_id = [data['hadm_id'][i]]
        t = [data['deltatime'][i]]
        
    # same patient
    else: 
        visits.append(map(lambda x:x-1,data['icd9'][i]))
        ad_id.append(data['hadm_id'][i])
        t.append(data['deltatime'][i])
        
# add the last patient's visit        
visit_file.append(visits)
admission_id.append(ad_id)
duration.append(t)

In [6]:
print len(np.unique(data['subject_id']))
print len(visit_file)
print visit_file[0:2]
print admission_id[0:2]
print duration[0:2]
print patient_id[0:2]

6346
6346
[[[6, 23, 28], [6, 38, 23, 45, 33, 127, 162]], [[0, 6, 7, 10, 29, 73, 103], [30, 59, 0, 6, 10, 22, 29]]]
[[194023, 161087], [152223, 124321]]
[[0, 133], [0, 1506]]
[17, 23]

In [7]:
pNum = len(visit_file)
title = ['train','valid','test']
proportion = [0.8,0.1,0.1]
train_test_proportion = 0.8

# generate random index for train, valid, test set
random.seed(10000)
random_index = random.sample(range(pNum),pNum)

# divide dataset into train, valid, test set for training data
trainingNum_index = []
trainingNum_index.append([0,int(pNum*train_test_proportion*proportion[0])]) # train
trainingNum_index.append([trainingNum_index[0][1],\
                          trainingNum_index[0][1]+\
                          int(pNum*train_test_proportion*proportion[1])]) # valid
trainingNum_index.append([trainingNum_index[1][1],\
                          int(pNum*train_test_proportion)]) # test

# test dataset
testNum_index = [int(pNum*train_test_proportion),pNum]
print trainingNum_index
print testNum_index

[[0, 4061], [4061, 4568], [4568, 5076]]
[5076, 6346]

In [8]:
# generate train, valid, test visit/label/duration files
# visit file is the same as label file
for t in range(3):
    indexRange = trainingNum_index[t]
    f_tmp = [] # visit/label data
    d_tmp = [] # duration data
    for i in range(indexRange[0],indexRange[1]):
        f_tmp.append(visit_file[random_index[i]])
        d_tmp.append(duration[random_index[i]])
    pickle.dump(f_tmp,open('../data/visit_182.'+ title[t],'wr'))
    pickle.dump(f_tmp,open('../data/label_182.'+ title[t],'wr'))
    pickle.dump(d_tmp,open('../data/duration.'+ title[t],'wr'))

# test dataset
indexRange = testNum_index
f_tmp = [] # visit/label data
d_tmp = [] # duration data
for i in range(indexRange[0],indexRange[1]):
    f_tmp.append(visit_file[random_index[i]])
    d_tmp.append(duration[random_index[i]])
pickle.dump(f_tmp,open('../data/test_182','wr'))
pickle.dump(d_tmp,open('../data/test_duration','wr'))
print len(f_tmp)

1270

In [9]:
# generate full set of training data
indexRange = [trainingNum_index[0][0],trainingNum_index[2][1]]
print indexRange
f_tmp = [] # visit/label data
d_tmp = [] # duration data
for i in range(indexRange[0],indexRange[1]):
    f_tmp.append(visit_file[random_index[i]])
    d_tmp.append(duration[random_index[i]])
pickle.dump(f_tmp,open('../data/visit_182','wr'))
pickle.dump(d_tmp,open('../data/train_duration','wr'))
print len(f_tmp)

[0, 5076]
5076

In [10]:
# get visit file (e.g. data in 'icd9') according to admission_id
def getVisitFile(data,admission_id,column = 'icd9'):
    visit_file = []
    p_id = 0
    v_id = 0
    index = -1

    for adm in data['hadm_id']:
        index += 1

        if v_id == 0 and admission_id[p_id][v_id] == adm:
            visits = [map(lambda x:x-1,data.loc[index,column])]
        elif admission_id[p_id][v_id] == adm:
            visits.append(map(lambda x:x-1, data.loc[index,column]))
        else:
            continue

        if v_id == len(admission_id[p_id])-1:
            p_id += 1
            v_id = 0
            visit_file.append(visits)
        else:
            v_id += 1
    return visit_file

def outputFile(visit_file,trainingNum_index,testNum_index,file_name):
    # generate train, valid, test visit/label/duration files
    # visit file is the same as label file
    for t in range(3):
        indexRange = trainingNum_index[t]
        f_tmp = [] # visit/label data
        d_tmp = [] # duration data
        for i in range(indexRange[0],indexRange[1]):
            f_tmp.append(visit_file[random_index[i]])
        pickle.dump(f_tmp,open('../data/visit_'+ file_name +\
                               '.'+ title[t],'wr'))
        pickle.dump(f_tmp,open('../data/label_'+ file_name +\
                               '.'+ title[t],'wr'))

    # test dataset
    indexRange = testNum_index
    f_tmp = [] # visit/label data
    d_tmp = [] # duration data
    for i in range(indexRange[0],indexRange[1]):
        f_tmp.append(visit_file[random_index[i]])
    pickle.dump(f_tmp,open('../data/test_'+ file_name,'wr'))

In [11]:
# visits with full set of codes
data_full = pd.read_csv('PATIENT_VISIT_FULL.csv',sep=',')
data_full['icd9']=map(lambda x:map(int,x.split(',')),data_full.icd9_code)
print data_full.shape
data_full.head(10)

(17130, 5)

,subject_id,hadm_id,admittime,icd9_code,icd9
0,17,194023,2134-12-27,"7,24,29,187","[7, 24, 29, 187]"
1,17,161087,2135-05-09,"24,197,39,46,7,34,128,163","[24, 197, 39, 46, 7, 34, 128, 163]"
2,23,152223,2153-09-03,"1,7,8,11,30,74,104,260","[1, 7, 8, 11, 30, 74, 104, 260]"
3,23,124321,2157-10-18,"23,30,31,60,264,1,7,11","[23, 30, 31, 60, 264, 1, 7, 11]"
4,34,115799,2186-07-18,"17,33,37,52,106,3,4,8","[17, 33, 37, 52, 106, 3, 4, 8]"
5,34,144319,2191-02-23,"3,4,8,14,21,106,141","[3, 4, 8, 14, 21, 106, 141]"
6,36,182104,2131-04-30,"1,8,15,18,27,32,74,104,154","[1, 8, 15, 18, 27, 32, 74, 104, 154]"
7,36,122659,2131-05-12,"1,8,11,15,18,19,26,27,74,78,124","[1, 8, 11, 15, 18, 19, 26, 27, 74, 78, 124]"
8,36,165660,2134-05-10,"114,124,1,8,9,18,27,28,33,49,74","[114, 124, 1, 8, 9, 18, 27, 28, 33, 49, 74]"
9,68,170467,2173-12-15,"3,5,6,10,12,28,52,89,111,149,312,354","[3, 5, 6, 10, 12, 28, 52, 89, 111, 149, 312, 354]"

In [12]:
visit_file_full = getVisitFile(data_full,admission_id)

In [26]:
################ skip this step when not generating cv files ################
# generate train, valid, test visit/label files for rnn cross validation
# visit file is the same as label file
K_FOLD = 2
training_size = int(pNum*train_test_proportion)

# divide dataset into train, valid, test set for training data
trainingNum_index = []
trainingNum_index.append([0,int(training_size*train_test_proportion*\
                                proportion[0])]) # train
trainingNum_index.append([trainingNum_index[0][1],\
                          trainingNum_index[0][1]+\
                          int(training_size*train_test_proportion*\
                              proportion[1])]) # valid
trainingNum_index.append([trainingNum_index[1][1],\
                          int(training_size*train_test_proportion)]) # test

# test dataset
testNum_index = [int(training_size*train_test_proportion),training_size]

print trainingNum_index
print testNum_index

# fold 1
for t in range(3):
    indexRange = trainingNum_index[t]
    f_tmp = [] # visit/label data
    for i in range(indexRange[0],indexRange[1]):
        f_tmp.append(visit_file_full[random_index[i]])
    pickle.dump(f_tmp,open('../data/rnn-cv/visit_cv_1.'+ title[t],'wr'))
    pickle.dump(f_tmp,open('../data/rnn-cv/label_cv_1.'+ title[t],'wr'))

# test dataset
indexRange = testNum_index
f_tmp = [] # visit/label data
for i in range(indexRange[0],indexRange[1]):
    f_tmp.append(visit_file[random_index[i]])
pickle.dump(f_tmp,open('../data/rnn-cv/test_cv_1','wr'))
print len(f_tmp)

# fold 2
for t in range(3):
    indexRange = trainingNum_index[t]
    f_tmp = [] # visit/label data
    for i in range(indexRange[0],indexRange[1]):
        f_tmp.append(visit_file_full[random_index[::-1][i]])
    pickle.dump(f_tmp,open('../data/rnn-cv/visit_cv_2.'+ title[t],'wr'))
    pickle.dump(f_tmp,open('../data/rnn-cv/label_cv_2.'+ title[t],'wr'))

# test dataset
indexRange = testNum_index
f_tmp = [] # visit/label data
for i in range(indexRange[0],indexRange[1]):
    f_tmp.append(visit_file[random_index[::-1][i]])
pickle.dump(f_tmp,open('../data/rnn-cv/test_cv_2','wr'))
print len(f_tmp)

[[0, 3248], [3248, 3654], [3654, 4060]]
[4060, 5076]
1016
1016

In [13]:
outputFile(visit_file_full,trainingNum_index,testNum_index,'full')

print len(visit_file_full),np.sum(map(len,visit_file_full))
print len(visit_file),np.sum(map(len,visit_file))

6346 17053
6346 17053

In [14]:
print visit_file_full[0:2]
print visit_file[0:2]
print visit_file_full[-1]
print visit_file[-1]
print admission_id[-1]

[[[6, 23, 28, 186], [23, 196, 38, 45, 6, 33, 127, 162]], [[0, 6, 7, 10, 29, 73, 103, 259], [22, 29, 30, 59, 263, 0, 6, 10]]]
[[[6, 23, 28], [6, 38, 23, 45, 33, 127, 162]], [[0, 6, 7, 10, 29, 73, 103], [30, 59, 0, 6, 10, 22, 29]]]
[[39, 51, 2, 14, 23, 3, 131, 13], [55, 13, 3, 68, 9, 2, 85, 4, 14, 51, 44], [68, 51, 13, 39, 80, 33, 75, 73, 153, 85, 55, 14, 9, 3, 2]]
[[51, 39, 13, 23, 131, 3, 14, 2], [44, 3, 85, 14, 51, 55, 2, 68, 9, 4, 13], [73, 68, 39, 33, 51, 153, 80, 14, 85, 55, 13, 9, 3, 75, 2]]
[151454, 112748, 183791]

In [15]:
print data_full[0:2]['icd9']
print data[0:2]['icd9']
print data_full[data_full.shape[0]-3:]
print data[data.shape[0]-3:]

0                      [7, 24, 29, 187]
1    [24, 197, 39, 46, 7, 34, 128, 163]
Name: icd9, dtype: object
0                      [7, 24, 29]
1    [7, 39, 24, 46, 34, 128, 163]
Name: icd9, dtype: object
       subject_id  hadm_id   admittime  \
17127       99982   151454  2156-11-28
17128       99982   112748  2157-01-05
17129       99982   183791  2157-02-16

                                         icd9_code  \
17127                       40,52,3,15,24,4,132,14
17128                56,14,4,69,10,3,86,5,15,52,45
17129  69,52,14,40,81,34,76,74,154,86,56,15,10,4,3

                                                    icd9
17127                    [40, 52, 3, 15, 24, 4, 132, 14]
17128          [56, 14, 4, 69, 10, 3, 86, 5, 15, 52, 45]
17129  [69, 52, 14, 40, 81, 34, 76, 74, 154, 86, 56, ...
       subject_id  hadm_id   admittime  \
17050       99982   151454  2156-11-28
17051       99982   112748  2157-01-05
17052       99982   183791  2157-02-16

                                         icd9_code            date  \
17050                       52,40,14,24,132,4,15,3  [2156, 11, 28]
17051                45,4,86,15,52,56,3,69,10,5,14    [2157, 1, 5]
17052  74,69,40,34,52,154,81,15,86,56,14,10,4,76,3   [2157, 2, 16]

                                                    icd9  deltatime
17050                    [52, 40, 14, 24, 132, 4, 15, 3]          0
17051          [45, 4, 86, 15, 52, 56, 3, 69, 10, 5, 14]         38
17052  [74, 69, 40, 34, 52, 154, 81, 15, 86, 56, 14, ...         42

In [16]:
# visits with sub set of codes, 250
data_250 = pd.read_csv('PATIENT_VISIT_250.csv',sep=',')
data_250['icd9']=map(lambda x:map(int,x.split(',')),data_250.icd9_code)
print data_250.shape
data_250.head(10)

(17094, 5)

,subject_id,hadm_id,admittime,icd9_code,icd9
0,17,194023,2134-12-27,"7,24,29,187","[7, 24, 29, 187]"
1,17,161087,2135-05-09,"24,197,39,46,7,34,128,163","[24, 197, 39, 46, 7, 34, 128, 163]"
2,23,152223,2153-09-03,"1,7,8,11,30,74,104","[1, 7, 8, 11, 30, 74, 104]"
3,23,124321,2157-10-18,"23,30,31,60,1,7,11","[23, 30, 31, 60, 1, 7, 11]"
4,34,115799,2186-07-18,"37,52,106,3,4,8,17,33","[37, 52, 106, 3, 4, 8, 17, 33]"
5,34,144319,2191-02-23,"3,4,8,14,21,106,141","[3, 4, 8, 14, 21, 106, 141]"
6,36,182104,2131-04-30,"1,8,15,18,27,32,74,104,154","[1, 8, 15, 18, 27, 32, 74, 104, 154]"
7,36,122659,2131-05-12,"1,8,11,15,18,19,26,27,74,78,124","[1, 8, 11, 15, 18, 19, 26, 27, 74, 78, 124]"
8,36,165660,2134-05-10,"1,8,9,18,27,28,33,49,74,114,124","[1, 8, 9, 18, 27, 28, 33, 49, 74, 114, 124]"
9,68,170467,2173-12-15,"3,5,6,10,12,28,52,89,111,149","[3, 5, 6, 10, 12, 28, 52, 89, 111, 149]"

In [17]:
visit_file_250 = getVisitFile(data_250,admission_id)
outputFile(visit_file_250,trainingNum_index,testNum_index,'250')

print len(visit_file_250),np.sum(map(len,visit_file_250))
print len(visit_file),np.sum(map(len,visit_file))

6346 17053
6346 17053

In [42]:
############### extract topics ###############
note_file = open('../data/note_topic_50','rb')
note_topic = pickle.load(note_file)
note_file.close()
print note_topic.shape
note_topic.head(10)
print note_topic['topics'].shape
print len(note_topic['topics'][0])

(16535, 3)
(16535,)
50

In [20]:
# get topic file according to admission_id
def getTopicFile(data,admission_id,column = 'topics'):
    info_dict = {}
    
    for i in range(data.shape[0]):
        info_dict[data.loc[i,'hadm_id']] = data.loc[i,column]
    
    visit_file = []
    p_id = 0
    v_id = 0
    
    n_feature = len(data.loc[0,column])
    while p_id < len(admission_id):
        if v_id == 0:
            info = [list(np.zeros(n_feature))]
            if admission_id[p_id][v_id] in info_dict.keys():
                info = [list(info_dict[admission_id[p_id][v_id]])]
        elif admission_id[p_id][v_id] in info_dict.keys():
            info.append(list(info_dict[admission_id[p_id][v_id]]))
        else:
            info.append(list(np.zeros(n_feature)))

        if v_id == len(admission_id[p_id])-1:
            p_id += 1
            v_id = 0
            visit_file.append(info)
        else:
            v_id += 1
    return visit_file

In [43]:
topic_file = getTopicFile(note_topic,admission_id,column = 'topics')

def roundTo(l,digit=4):
    return map(lambda x:np.round(x,digit),l)

topic_file = map(lambda l:roundTo(l,6),topic_file)
print len(topic_file),np.sum(map(len,topic_file))

6346 17053

In [ ]:
info_dict1 = {}
    
for i in range(note_topic.shape[0]):
    info_dict1[note_topic.loc[i,'hadm_id']] = note_topic.loc[i,'topics']
print admission_id[0]
print info_dict1[194023],info_dict1[161087]

In [44]:
file_name = open('../data/visit_file_topic_'+\
                 str(len(note_topic['topics'][0])),'wr')
pickle.dump(topic_file,file_name)
file_name.close()

In [45]:
outputFile(topic_file,trainingNum_index,testNum_index,\
           'topic_'+str(len(note_topic['topics'][0])))

In [18]:
############### extract tfidf ###############
note_file = open('../data/note_tfidf_800','rb')
note_tfidf = pickle.load(note_file)
note_file.close()
print note_tfidf.shape
note_tfidf.head(10)

(16535, 3)

   subject_id  hadm_id                                              tfidf
0          17   161087  [0.0, 0.0, 0.0, 0.0, 0.0436881153699, 0.0, 0.0...
1          17   194023  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2          23   124321  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.13663147...
3          23   152223  [0.0, 0.0, 0.0507781306469, 0.0, 0.0, 0.0, 0.0...
4          34   144319  [0.0243910398496, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
5          36   122659  [0.0, 0.0225939824345, 0.0, 0.0334990562314, 0...
6          36   165660  [0.0167555562311, 0.0, 0.0, 0.0245915396108, 0...
7          36   182104  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0156882044791, 0.0...
8          68   108329  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0359316242092, 0.0...
9          68   170467  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

In [22]:
tfidf_file = getTopicFile(note_tfidf,admission_id,column = 'tfidf')
def roundTo(l,digit=4):
    return map(lambda x:np.round(x,digit),l)

tfidf_file = map(lambda l:roundTo(l,6),tfidf_file)

print len(tfidf_file),np.sum(map(len,tfidf_file))

6346 17053

In [23]:
file_name = open('../data/visit_file_tfidf_'+\
                 str(len(note_tfidf['tfidf'][0])),'wr')
pickle.dump(tfidf_file,file_name)
file_name.close()

outputFile(tfidf_file,trainingNum_index,testNum_index,\
           'tfidf_'+str(len(note_tfidf['tfidf'][0])))